<%= flash[:notice] %>

<ul>
  <% Bookmarks.all.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action='/bookmarks' method='post'>
  <input type='text' required placeholder='URL' name='add_url'>
  <input type='submit' value='Submit'>
</form>
